bcrypt
beautifulsoup4
boto3
cachetools
card-validator
certifi
cryptography
dogstatsd-python
elasticsearch
flask
flask-httpauth
gunicorn
jinja2
jira
mmh3
mysql-connector
pycpfcnpj
pyjwt
python-cuckoo
pytz
redis
requests
requests-html
smart-open
stripe
timeout-decorator
tldextract
