bcrypt
beautifulsoup4
boto3
cachetools
card-validator
certifi
cryptography
dogstatsd-python
elasticsearch
flask
flask-httpauth
google-api-python-client
gunicorn
httplib2
jinja2
jira
mmh3
mysql-connector
oauth2client
pycpfcnpj
pyjwt
python-cuckoo
pytz
redis
requests
requests-html
smart-open
stripe
timeout-decorator
tldextract
schedule
email_validator
mailchimp3
sparkpost
