bcrypt
beautifulsoup4
boto3
cachetools
card-validator
certifi
dogstatsd-python
elasticsearch
email_validator
flask
flask-httpauth
gunicorn
inotify
jinja2
jira
mailchimp3
mmh3
mysql-connector
oauth2client
pycpfcnpj
pyjwt
redis
requests
schedule
sparkpost
stripe
timeout-decorator
tldextract
